*{
    margin: 0%;
}
.bg1{
width: 100vw;
height: 100vh;
background-image: url(https://www.kaspersky.com.br/content/pt-br/images/repository/isc/2020/what-is-a-vpn.jpg);
background-size: cover;
}
.ng1 div{
width: 350px;
height: 60px;
display: inline-block;
padding: 20px;
font-size: 50px;
font-weight: 900;
color: red;
}
.ng_element_1{
    float: left;
}
.ng_element_2{
    float: right;
    width: 110px;
    height: 40px;
    text-align: center;
    font-size: large;
    font-style: italic;
    border-radius: 25px;
}
.main1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
}
.main2{
    margin-top: 40px;;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}
.main3{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid green;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    color: white;
    background-color: green;
    border-radius: 35px;
    margin-bottom: 30px;
}
.content_1{
    
    width:70vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 70px;

}
.image1{
    width: 35vw;
    height: 50vh;
   align-content: center;
    background-size: auto;
    border-radius: 5px;
 
}
.image1 img{
    border-radius: 10px;
}
.description{
    align-content: center;
    width: 35vw;
    height: 75vh;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
 
    font-size: 90;
    
    border: 2px solid green;
    margin-top: 20px;
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 25px;
    text-align: center;
    
}
.main5{
    margin-top: 40px;
display: flex;
justify-content: space-evenly;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container3 img{
   
width: 150px;
height: 80px;
border-radius: 35px;
align-content: center;
}
.container3 h1{
 text-align: center;
 margin-top: 15px;
}.low{
    width: 100vw;
    height: 80vh;
}